<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learning.quack">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quack">
        <activity
            android:name="com.learning.quack.chat"
            android:label="Chat With Students"
            android:parentActivityName="com.learning.quack.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.learning.quack.createpost"
            android:parentActivityName="com.learning.quack.chat"
            android:screenOrientation="portrait"
            android:label="Chat With Students"/>
        <activity
            android:name="com.learning.quack.login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.pt"
            android:parentActivityName="com.learning.quack.moreformulas"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.nb2"
            android:parentActivityName="com.learning.quack.moreformulas"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.log"
            android:parentActivityName="com.learning.quack.moreformulas"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.moreformulas"
            android:parentActivityName="com.learning.quack.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.cbrt"
            android:parentActivityName="com.learning.quack.root"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.sqrt"
            android:parentActivityName="com.learning.quack.root"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.root"
            android:parentActivityName="com.learning.quack.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.learning.quack.shaperectarea"
            android:parentActivityName="com.learning.quack.shaperect"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.shaperectperimeter"
            android:parentActivityName="com.learning.quack.shaperect"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.shaperect"
            android:parentActivityName="com.learning.quack.quad"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.quad"
            android:parentActivityName="com.learning.quack.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.shapesquarearea"
            android:parentActivityName="com.learning.quack.shapesquare"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.shapesquareperimeter"
            android:parentActivityName="com.learning.quack.shapesquare"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.shapesquare"
            android:parentActivityName="com.learning.quack.quad"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.coc"
            android:parentActivityName="com.learning.quack.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.percent"
            android:parentActivityName="com.learning.quack.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.cube"
            android:parentActivityName="com.learning.quack.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.square"
            android:parentActivityName="com.learning.quack.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.learning.quack.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>